body { color: black; background: white url(parchment.gif) repeat-y; }

A:link     			{ color: blue; }
A:visited   		{ color: #330066; }
A:hover   			{ color: #990000; }

.sidebar {
	float: left;
	width: 100px;
}
.sidebar .head {
	font-size: larger;
	font-weight: bold;
}
.sidebar hr {
	margin-left: 0;
	width: 84px;
	height: 5px;
}

.main { margin-left: 103px; }
.main hr { clear: right; }
.options {
	float: right;
	text-align: right;
	font-size: smaller;
	margin-bottom: 1ex;
}
.options label { white-space: nowrap; }
.options kbd { color: gray; }
.options #view { display: none; }
.options form { display: inline; }

.footer { font-size: smaller; text-align: center; }

#mapid { height: 760px; }

th { vertical-align: baseline; text-align: right; }
td { vertical-align: baseline; }
th.hier { background: #CC9966; }
td.current { background: #FFFF99; }

.changed { color: blue; }
.error { color: red; }
.warn { color: purple; }

table.search {
	border-collapse: collapse;
}
table.search tr td:first-child { text-align: right; }
table.search th {
	padding-left:5px;
	padding-right:5px;
	text-align: left;
}
table.search td {
	padding:2px;
	padding-left:5px;
	padding-right:5px;
	border-top:1px solid #AAA;
}
div.multi {
	position: -webkit-sticky;
	position: sticky;
	top: 1ex;
	padding-bottom: 1ex;
}

.band-subheung  { background: #F0F0D0; width: 98%; padding:1ex; }
.subheung { list-style-type: lower-alpha; }
ol.subvillage { list-style-type: lower-roman; }

@font-face {
	font-family: supernums;
	src:local("Hoefler Text"),
		local("Doulos SIL"),
		local("Palatino Linotype"),
		local("Gentium"),
		local("Linux Libertine");
	unicode-range: U+B2-B9, U+2074-2076;
}
.jp, #view {
	font-family: supernums, serif;
	line-height: 100%;
}

.fade {
	transition: background-color 400ms ease-out;
}
